<h2>Attachments</h2>

<%= render :partial => 'admin/assets/upload', :locals => {:record => @page.attachments.build, :url => admin_page_attachments_path(@page)} %>

<ul id="assets">
  <% @page.attachments.reject(&:new_record?).each do |attachment| %>
    <% content_tag_for :li, attachment do  %>
      <%= asset_grid_item(attachment.asset) %>
      <%# TODO: ability to remove attachments %>
    <% end %>
  <% end %>
</ul>

<script type="text/javascript">
  (function($) {
    $(function() {
      $('#assets').sortable({
        update: function(event, ui) {
          $.ajax({
            type: "POST",
            url: '<%= positions_admin_page_attachments_path(@page) %>',
            data: '_method=PUT&'+$(this).sortable('serialize'),
          });
        }
      }).disableSelection();
    });
  }(jQuery));
</script>
