<div class="outset">
  <table class="index" id="assets"> 
    <thead> 
      <tr> 
        <th class="name">Asset</th> 
        <th class="actions">Modify</th> 
      </tr> 
    </thead> 
    <tbody>
      <% unless @images.empty? %>
        <% @images.each do |image| %>
          <tr>
            <td class="name"><%= image_listing(image) %></td>
            <td class="actions"><%= link_to 'Remove', remove_admin_asset_path(image), :class => 'action remove' %></td>
          </tr>
        <% end %>
      <% else %>
      <tr><td class='empty' colspan='2'>No Assets</td></tr>
      <% end %>
    </tbody> 
  </table> 
</div>
<div id="actions">
  <%= pagination_for(@images) %>
  <ul>
    <li><%= link_to 'Upload New Asset', new_admin_asset_path %></li>
  </ul>
</div>
