<% include_stylesheet 'admin/extensions/assets/assets' %>

<div class="outset">
  <%= render :partial => (list_view? ? 'list' : 'grid'), :locals => {:assets => @assets} %>
</div>

<div id="actions">
  <%= pagination_for(@assets) %>
  <ul>
    <li class="new"><%= link_to 'Upload New Assets', new_admin_asset_path %></li>
    <li><%= view_toggle %></li>
  </ul>
</div>
