<h1>Remove Asset</h1>
<p> 
  Are you sure you want to <strong class="warning">permanently remove</strong>
  the following asset?
</p>

<table class="index" id="assets">
  <tr><td class="name"><%= asset_listing(@asset) %></td></tr>
</table>

<% form_for [:admin, @asset], :html => {:method => :delete, 'data-onsubmit_status'=>'Removing asset&#8230;'} do |f| %>
  <p class="buttons">
    <%= f.submit 'Delete asset', :class=>'button' %>
    or <%= link_to 'Cancel', admin_assets_path %>
  </p>
<% end %>
