.frame {
  max-width: 100%;
  overflow: auto;
}

.pdf.frame {
  width: 100%;
  height: 30em;
}

.index th.size {
  min-width: 5em;
}

table.index .size {
  text-align: right;
  padding-right: 5px;
}

#assets .icon {
  display: block;
  float: left;
  text-align: center;
  background: #ccc;
  text-transform: uppercase;
}

table#assets .icon {
  display: block;
  float: left;
}

table#assets .icon, table#assets .thumbnail {
  margin-right: 5px;
}

table#assets .icon {
  font-size: 75%;
}

#assets, #assets li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#assets li {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  position: relative;
  overflow: hidden;
}

#assets li a {
  color: inherit;
  text-decoration: none;
}

#assets li .id,
#assets li .caption,
#assets li .action {
  position: absolute;
  top: 2px;
  display: none;
}

#assets li:hover .id,
#assets li:hover .caption,
#assets li:hover .action {
  display: block;
}

#assets li .caption {
  top: auto;
  bottom: 0;
  color: white;
  background: black;
}

#assets li .id {
  left: 2px;
  color: white;
  font-weight: bold;
}

#assets li .remove,
table#assets .remove::before {
  background: url('/images/admin/minus.png') no-repeat top left;  
}

#assets li .remove {
  right: 2px;
  width: 12px;
  height: 12px;
  text-indent: -1000em;
  overflow: hidden;
}

table#assets .remove::before,
#actions .new a::before {
  content: '';
  width: 12px;
  height: 12px;
  padding-right: 3px;
  position: relative;  
  top: 2px;
  display: block;
  display: inline-block;
}

#actions .new a::before {
  background: url('/images/admin/plus.png') no-repeat left bottom;
}
