.frame {
  max-width: 100%;
  overflow: auto;
}

#assets, #assets li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#assets li {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  position: relative;
}

#assets li .id,
#assets li .caption,
#assets li .action {
  position: absolute;
  top: 2px;
  display: none;
}

#assets li:hover .id,
#assets li:hover .caption,
#assets li:hover .action {
  display: block;
}

#assets li .caption {
  top: auto;
  bottom: 0;
  color: white;
  background: black;
}

#assets li .id {
  left: 2px;
  color: white;
  font-weight: bold;
}

#assets li .remove {
  right: 2px;
  background: url('/images/admin/minus.png') no-repeat top left;
  width: 12px;
  height: 12px;
  text-indent: -1000em;
  overflow: hidden;
}

#actions .new a::before {
  content: '';
  width: 12px;
  height: 12px;
  padding-right: 3px;
  position: relative;
  top: 2px;
  display: block;
  display: inline-block;
  background: url('/images/admin/plus.png') no-repeat left bottom;
}
