<h1>New Image Upload</h1>
<% form_for @image, :url => admin_images_path, :html => {:multipart => true, 'data-onsubmit_status'=>'Uploading Image&#8230;'} do |f| %>
  <%= f.file_field :upload %>
  <p class="buttons">
    <%= f.submit 'Upload Image', :class=>'button' %>
    or <%= link_to 'Cancel', admin_images_path %>
  </p>
<% end %>
