<h1>Remove Image</h1>
<p> 
  Are you sure you want to <strong class="warning">permanently remove</strong>
  the following image?
</p>

<table class="index" id="images">
  <tr><td><%= image_listing(@image) %></td></tr>
</table>

<% form_for [:admin, @image], :html => {:method => :delete, 'data-onsubmit_status'=>'Removing image&#8230;'} do |f| %>
  <p class="buttons">
    <%= f.submit 'Delete Image', :class=>'button' %>
    or <%= link_to 'Cancel', admin_images_path %>
  </p>
<% end %>
